*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.mat-card {
  position: relative;
  width: 160px;
  background-color: #d1caf3;
  margin: 10px auto;

  .mat-icon-button.edit {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(255 255 255);
    width: 30px;
    height: 30px;
    opacity: 0.8;
  }

  .mat-icon-button.delete {
    position: absolute;
    top: 2px;
    right:34px;
    background-color: rgb(255 255 255);
    width: 30px;
    height: 30px;
    opacity: 0.8;
  }

  .mat-card-image {
    height: 250px;
    margin-bottom: 0;
    width: 160px;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;


    .mat-icon {
      color: #656564;

      .edit {
        margin-left: 30%;
      }
    }

    .mat-icon.liked {
      color: gold;
    }
  }
}

@media screen and (max-width: 750px) {
  .mat-card {
    width: 120px;
    height:220px;

    .mat-card-image {
      height: 170px;
      width: 120px;
    }
    .mat-card-actions {
      padding:0;

    }
  }
}

@media screen and (max-width:425px) {
  .mat-card {
   
    width: 80px;
    height: 180px;
  
    .mat-card-image {
      height: 130px;
      width: 80px;
    }

    .mat-card-actions {
     
      button {
        width: 19px;
        .mat-icon {
          font-size: 16px;
        }
 }
        span {
          font-size: 15px;
        }
    }
  }
}
