* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {


  .content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    gap: 10px;
    opacity: 0.9;

    img {
      width: 250px;
      height: 300px;
      margin: 10px;
    }

    .info {
      padding: 1em;
      grid-column: span 5;

      p {
        margin-top: 10px;
      }

      .bold {
        font-weight: 550;
      }
    }

    .btnsMob {
      display: none;
    }

    .biography {
      grid-column: span 6;
      margin: 10px;

      .mainText {
        display: none;
      }
    }

    .autorBooks {
      grid-column: span 6;
      margin: 10px;
    }
  }

 
}

h2 {
  margin-bottom: 10px;
}

button,.button {
  padding: 2px 15px;
  margin-top: 15px;
  margin-right: 15px;
  letter-spacing: 1px;
 
}

@media screen and (max-width: 750px) {
  .container {

    .content {

      img {
        width: 150px;
        height: 225px;
        margin: 10px;
      }

      .info {
        font-size: 14px;
        p {
          margin-top: 7px;
        }
      }

      .biography {
        font-size: 14px;
      
      }
    }
  }
 

  h2 {
    font-size: 20px;
  }
  button, .button {
    padding: 0px 5px;
    letter-spacing: 0.5px;
    font-size: 14px;
  
  }
  }

@media screen and (max-width: 450px) {
  .container {

    .content {

      img {
        width: 90px;
        height: 135px;
        margin: 5px;
      }

      .info {
        font-size: 10px;
      }

        .biography {
          font-size: 10px;
        }
      }
    }

    h2 {
      font-size: 15px;
    }

    button, .button {
      font-size: 10px;
    }
  }



