<div class="container">
  <div class="content">
    <div class="img item">
      <img src={{img}}{{book.img}} alt="" />
    </div>
    <div class="info item">
      <h2>О книге:</h2>
      <p>Название: {{book.title}}</p>
      <p>Жаннр: {{book.style}}</p>
      <p>Дата выхода: {{book.releaseDate}}</p>
      <p>Рейтинг: {{book.views}}</p>
      <p>Популярность: {{book.liked.length}}</p>
    </div>
    <div class="autorBooks item">
      <h2>fkfkfk</h2>
      <h2>fkfkfk</h2>
      <h2>fkfkfk</h2>
    </div>
    <div class="styleBooks item">
      <h2>;f;ff;f</h2>
      <h2>;f;ff;f</h2>
      <h2>;f;ff;f</h2>
    </div>
  </div>
</div>
