<div class="container">
  <div class="content">
    <ng-container *ngIf="load">
      <div class="img">
        <img src={{imgPath}}{{book.img}} alt="" />

        <p class="bookTitleMobile"><span class="bold"> {{book.title}}</span></p>
      </div>
     
      <div class="info">
        <h2>О книге:</h2>
        <p>

          <span class="bold">Aвтор:</span>
          <a [routerLink]="['/autor',autor.id]"
             matTooltip="Перейти к автору"
             [matTooltipPosition]="'right'">
            <span *ngIf="!autor.patronymic && load" class="autors"> {{autor.surname}} {{autor.name}}</span>
            <span *ngIf="autor.patronymic && load" class="autors"> {{autor.surname}} {{autor.name}} {{autor.patronymic}}</span>
          </a>
        </p>
        <p class="bookTitle"><span class="bold">Название:</span><span> {{book.title}}</span></p>
        <p><span class="bold">Жанр:</span><span> {{book.style}}</span></p>
        <p><span class="bold">Страниц:</span><span> {{book. pageCount}}</span></p>
        <p><span class="bold">Год издания:</span><span> {{date}}</span></p>
        <p><span class="bold">Просмотров:</span> <span> {{book.views}}</span></p>
        <p><span class="bold">Понравилось:</span> <span> {{book.liked.length}}</span></p>

        <div class="btns">

          <button mat-raised-button color="primary" (click)="goToReader()">
            <span>Читать</span>
          </button>


          <button #btnDownload mat-raised-button color="primary" (click)="downloadBook()">
            <span>Скачать</span>
          </button>
        </div>
      </div>

      <div class="autorBooks item" *ngIf="autorBooks.length !== 0">
        <app-section [sectionTitle]="'Другие книги автора:'"
                     [bookArr]="autorBooks"
                     [userType]="userType"></app-section>
      </div>

      <div class="styleBooks item" *ngIf="autorBooks.length !== 0">
        <app-section [sectionTitle]="'Другие книги в жанре ' + book.style[0].toLowerCase()+book.style.slice(1) + ':'"
                     [bookArr]="styleBooks"
                     [userType]="userType"></app-section>
      </div>
    </ng-container>
  </div>
</div>
