<div class="container">
  <div class="content">
    <div class="img">
      <img src={{imgPath}}{{book.img}} alt="" />
    </div>
    <div class="info">
      <h2>О книге:</h2>
      <p>
        <span class="bold">Aвтор:</span>
        <span *ngIf="!autor.patronymic" class="autor" onmouseover="style='color:#670890;'" onmouseout="style='color:ffffff;'" (click)="goToAutor()"> {{autor.surname}} {{autor.name}}</span>
        <span *ngIf="autor.patronymic" class="autor" onmouseover="style='color:#670890;'" onmouseout="style='color:ffffff;'" (click)="goToAutor()"> {{autor.surname}} {{autor.name}} {{autor.patronymic}}</span>
      </p>
      <p><span class="bold">Название:</span> {{book.title}}</p>
      <p><span class="bold">Жанр:</span> {{book.style}}</p>
      <p><span class="bold">Дата выхода:</span> {{date}}</p>
      <p><span class="bold">Просмотров:</span> {{book.views}}</p>
      <p><span class="bold">Понравилось:</span> {{book.liked.length}}</p>
      <div class="btns">
        <button mat-raised-button color="primary">Читать</button>
        <button mat-raised-button color="primary">Скачать</button>
      </div>
    </div>
    <div class="autorBooks item">
      <h2>Другие книги автора:</h2>
      <div class="cards">

        <ng-container *ngFor="let book of autorBooks">
          <app-card [book]="book" [userType]="userType"></app-card>
        </ng-container>
      </div>
    </div>
    <div class="styleBooks item">

      <h2>Другие книги в жанре {{book.style[0].toLowerCase() + book.style.slice(1)}}:</h2>
      <div class="cards">
        <ng-container *ngFor="let book of styleBooks">
          <app-card [book]="book" [userType]="userType"></app-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
