<div class="container">
  <header>
    <!--toolbar start -->
    <mat-toolbar color="primary" class="toolBar">
      <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span class="material-icons">
            reorder
          </span>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>Жанры</button>
          <button mat-menu-item>Авторы</button>
          <button mat-menu-item (click)="registration = true">Регистрация</button>
          <button #login mat-menu-item class="login" (click)="enteryFormdisplayed()">{{ userType === 'guest' ? 'Вход' : 'Выход' }}</button>
        </mat-menu>
      </div>
      <div class="title">
        <a class="mainPage"
           (click)="mainPage()"
           matTooltip="Главная"
           [matTooltipPosition]="'right'">BOOKS</a>
      </div>

      <div class="btnView">
        <button mat-button>Жанры</button>
        <button  mat-button >Авторы</button>
      </div>

      <div class="userNameMobile">
        <p>{{getUserName()}}</p>

      </div>
      <div class="tool">
        <div class="userName">
          <p>{{getUserName()}}</p>

        </div>
        <div class="btn">

          <button mat-button (click)="registration = true">Регистрация</button>
          <button #login mat-button class="login" (click)="enteryFormdisplayed()">{{ userType === 'guest' ? 'Вход' : 'Выход' }}</button>
        </div>
        <!-- ДОДЕЛАТЬ
      <div class="search">
      <input type="text" value="" />
    </div>-->

      </div>
    </mat-toolbar>
    <!--toolbar end -->
  </header>

  <div class="content" >
    <router-outlet></router-outlet>

    <!--авторизация start -->
    <ng-container *ngIf="enter">
      <app-entry (entryClose)="this.enter = false;"
                 (regOpen)="this.enter = false;this.registration = true;">
      </app-entry>
    </ng-container>
    <!--авторизация end -->
    <!--регистрация start-->
    <ng-container *ngIf=" registration">
      <app-registration (regClose)="this.registration = false;">
      </app-registration>
    </ng-container>
    <!--регистрация end-->
    

    <div *ngIf="preloaderToggle" class="preloader">
      <app-preloader></app-preloader>
    </div>

  </div>
  <footer>
    <div class="footerWrap">
      <p>2022 BOOKS - библиотека электронных книг</p>
    </div>
  </footer>
</div>

