*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.pdfReader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #567ec9;

  .PDFtoolBar {
    height: 5%;
    min-height: 40px;
    display: flex;
    justify-content: center;

    .toolFlex {
      display: flex;
      justify-content: space-around;
      color: #c0def8;

      p {
        margin: auto auto;
      }
    }

    .scale, .rotation {
      margin: 0 20px;
    }
  }

  .pdfDoc {
    height: 80vh;
    width: 100%;
    margin:0 auto;

    pdf-viewer {
      position: relative;
      margin: 15px auto;
      overflow: auto;
      height: 100%;
    }
  }

  .foot {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 10vh;

    div {
      width: auto;
    }

    input {
      padding: 5px 10px;
      outline: none;
      border: #c0def8 solid 2px;
      border-radius: 5px;
      color: #2770b0;
      font-weight: 600;
      font-size: 15px;
     width:35px;
    }

    span {
      color: #c0def8;
      font-weight: 600;
      font-size: 15px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input[type='number'],
    input[type="number"]:hover,
    input[type="number"]:focus {
      -moz-appearance: textfield;
    }
  }

  .mat-icon-button {
    height: 35px;
    line-height: 35px;
    color: #c0def8;
  }
}
@media screen and (max-width: 425px) {
  .pdfReader {
    .pdfDoc {
      height: 70vh;
      width: 90%;

      pdf-viewer {
        position: relative;
        margin: 1px auto;
        overflow: auto;
        height: 100%;
      }
    }
  }
  }
  @media screen and (max-width: 350px) {
    .pdfReader {

      .PDFtoolBar {
        font-size: 15px;

        .toolFlex {
          justify-content: center;
        }

        .scale, .rotation {
          margin: 0 10px;
        }
      }

      .mat-icon {
        font-size: 15px;
      }
    }
  }
